*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headerpart {
    display: grid;
    grid-template-columns: 40% 20% 20%;
    background-color: white;
    line-height: 4;
}

.headerul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    
}

.buttonsboot {
    display: grid;
    grid-template-columns: auto auto;

}

.Boot{
    border: none;
    background-color: white;
    font-size: 16px;
}

.Spaces{
    border: none;
background-color: white;
font-size: 16px;

}

.Tutorial {
    border: none;
    /* font-size: 16px; */

}

.Exercies{
    border: none;
    font-size: 16px;
}

.Getcertified{
    border: none;
    font-size: 16px;
}

.Services{
    border: none;
    font-size: 16px;
}

.siglogin{
    display: grid;
    grid-template-columns: auto auto;
}

.signup{
    border: none;
    background-color: white;
    font-size: 16px;
}
.login{
    border: none;
    background-color: white;
    font-family: sans-serif;
    font-size: 16px;
    padding-left: 1px;
   
}

.section1{
    background-color: black;
}

.section2{
  display: grid;
  grid-template-columns: repeat(13,1fr);
  list-style: none;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;

}

.htmllist1  {
    list-style: none;
}

.sidebar{
    background-color: gainsboro;
    width: 220px;
    display: grid;
    grid-template-columns: 90% 10%;
    
}

.sidebar h2{
    padding-top: 10px;
    padding-left: 10px;
    
}

.sidebar li{
    font-size: 18px;
    margin-left: 10px;
    margin-top: 10px;
}

.overflow1{
    overflow: scroll;
}



